/*======================= Common CSS Style  ===================== */
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
/*============================= Font  ===========================*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
body{
  font-family: 'Poppins', sans-serif;
  background-color: #F3F1FF;
  
}


/*======================= Top Banner CSS Style  ================= */


.top-banner{
  background-color: black;
  display: flex;
  margin: 50px 130px 140px;
  border-radius: 20px;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 100px;
  
  
  }

.top-banner-text{
  width: 50%;
  padding-left:50px;
  

}
.top-banner-text h1 {
  font-size: 70px;
  color: lightcyan

}
.top-banner-text p {
  font-size: 15px;
  color: white;

}
.top-banner-text a {
  background: #DD0000;
  border-radius: 5px;
  display: inline-block;
  width: 187px;
  height: 56px;
  text-decoration: none;
  color: white;
  text-align: center;
  margin-top: 20px;
  padding-top: 20px;

}
#left-side-blog-btn{
  
  background-color: red;

  
}

.top-banner-text span{
  padding-left: 20px;
  
}

.top-banner-player-photo{
  width: 50%;
  
  
}

.top-banner-player-photo img{
  align-items: center;
  width: 100%;
  padding-top: 20px;
  padding-right: 40px;
}


/* ============= Middle Section Blog part  =================*/

.middle-part{
  display: flex;
  margin: 50px 130px 140px;
   
}

.left-side{
  width: 20%;
  background-color: black;
  padding: 10px;
  border-radius: 10px;
  height: 200px;
  margin-right: 20px;
}
.left-side a{
  display: inline-block;
  display: grid;
  grid-template-columns: 1fr;
  background-color:white;
  color: black;
  border-radius: 5px;
  margin: 15px ;
  text-decoration: none;
  text-align: center;
  height: 40px;
  padding-top: 10px;
  
}


/* ============= Middle Right part Start =================*/

.right-side-part{
  width: 80%;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 15px;
  border-radius: 10px;
  
  
}

.video-box{
  border: 1px solid rgb(184, 181, 181);
  border-radius: 10px;
  
  
   
}
.match-vs{
  display: flex;
  padding: 20px;
  width: 200px;
}

.match-play-country{
  margin: 10px;
  font-size: 20px;
}

.cover-photo-germany-flag img{
  width: 80px;
}

.video-box h3{
  padding-top: 0px;
  text-align: center;
  font-size: 20px;
  
}

.match-start-time{
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}


/* ============================ Footer Section ======================= */

footer{
  
  background-color: black;
  height: 400px;
  
  
}

.gool-section{
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gool-section h4{
  font-size: 30px;
  text-align: center;
  color: white;
    
}

.footer-divider {
 border: none;
 height: .1px;
 background: rgb(134, 129, 129);

 
}

.nav-footer-menu {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.nav-footer-menu a{
  text-decoration: none;
  font-size: 20px;
  padding-left: 30px;
  color: white;
}

.social-icon {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  font-size: 30px;
  padding-left: 20px;
}

.social-icon i{
  padding-left: 20px;
  color: rgb(19, 225, 225);
}


/*====================== Media Queries CSS ======================*/



 /*====================== Mobiles Devices=================== */

 @media only screen and (max-width:688px){
  .top-banner-text{
    text-align: center;
    width: 100%;
    padding: 10px;
       
  }

  .top-banner-text:nth-of-type(1){
    order: 2;
  }
  .top-banner h1{
    font-size: 25px;
    margin-top: 10px;
    padding: 20px;
  }

  .top-banner-text p{
    font-size: 10px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
 }
 .top-banner-text a {
  background: #DD0000;
  border-radius: 5px;
  display: inline-block;
  width: 139px;
  height: 36px;
  text-decoration: none;
  color: white;
  text-align: center;
  margin-top: 10px;
  padding-top: 10px;
}
.top-banner-player-photo {
  width: 100%;
}


 .top-banner{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  width: 100%;
  margin: 0px;
  background-color: black;
   

 }
 
 .top-banner-player-photo img{
  justify-items: center;
  width: 100%;
  padding-top: 20px;
  padding-left: 70px;
}
.middle-part{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  width: 100%;
  margin: 0px;
   
}

.left-side {
  display: flex;
  background: none;
  width: 100%;
  height: 100px;

}


.left-side a {
  display: inline-flexbox;
  width: 100px;
  padding-bottom: 20px;
  display: grid;
  font-size: 12px;
  border: 1px solid gray;
  background-color: bisque;
  grid-template-columns: repeat(1, 1fr);

}

.right-side-part {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(1,1fr);
  grid-gap: 15px;
  border-radius: 10px;
 
}

.nav-footer-menu {
  display: grid;
  grid-template-columns: repeat(1,1fr);
  justify-items: center;
  align-items: center;

}


 }

 /* ==============Tablet Devices================= */

@media only screen and (min-width:689px) and (max-width:992px){
  .top-banner-text{
    text-align: center;
    width: 100%;
    padding: 10px;
       
  }

  .top-banner-text:nth-of-type(1){
    order: 2;
  }
  .top-banner h1{
    font-size: 25px;
    margin-top: 10px;
    padding: 20px;
  }

  .top-banner-text p{
    font-size: 10px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
 }
 .top-banner-text a {
  background: #DD0000;
  border-radius: 5px;
  display: inline-block;
  width: 139px;
  height: 36px;
  text-decoration: none;
  color: white;
  text-align: center;
  margin-top: 10px;
  padding-top: 10px;
}
.top-banner-player-photo {
  width: 100%;
}


 .top-banner{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  width: 95%;
  margin: 20px;
  background-color: black;
  border-radius: 5px;

 }
 
 .top-banner-player-photo img{
  justify-items: center;
  width: 100%;
  padding-top: 20px;
  padding-left: 70px;
}
.middle-part {
  display: flex;
  width: 95%;
  margin: 20px;
}
.left-side {
  width: 30%;
  background-color: black;
  padding: 10px;
  border-radius: 10px;
  height: 200px;
  margin-right: 20px;
}

.right-side-part {
  width: 70%;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 15px;
  border-radius: 10px;
}
} 